body{
    background-color: #F7F7F7;
}
.content {
    padding-top: 25vh;
}

button{
    font-family: brevia,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    text-decoration:none;
    color:rgb(33, 37, 41);
    border: none;
}

button:hover{
    text-decoration: none;
    color:blue;
}