/* ----- Links für Nav Bar zu anderen Pages ----- */

.aboutUs{
    padding-left: 1%;
    height: 8vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.logoMain > object{
    height:23.4vw;
    margin-top: 17vh;
}

.logoMain{
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


section.container{
    max-width: 100%;
    padding-left: 15px;
}


.contact{
    font-size: 20px;
    width:100%;
    padding-bottom: 20px;
}
#tel, #mail, #insta{
    width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
    display: inline-block;
}

#tel{
	background-image: url("pictures/contactDetails/mobile/phone-call.png");
}

#mail{
	background-image: url("pictures/contactDetails/email/email.png");
}
#insta{
	background-image: url("pictures/contactDetails/instagram/instagram.png");
}

.specialA{
    font-family: brevia,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    text-decoration:none;
    color: rgb(33, 37, 41);
    padding: 0;
}

.socials {
    padding-left: 5%;
}

.specialA:hover{
    text-decoration: none;
    color:#16019A;
}

.infoLine{
    width: 90%;
    border: none;
    margin-left:10%;
    margin-bottom: 0;
    height: 4px;
    background-color: black;
}

#pic{
  margin-top:3vh;
}

.topPart{
    /*height: 50vh;*/
    height: max-content;
    margin: 0;
}

i{
    vertical-align: middle;
}

.contacts{
    margin-left: 1vh;
    font-size: 24px;
    font-weight: 500;
    height:32px;
    vertical-align:bottom;
}


.cont{
    margin-top: 4vh;
}

.titleM{
    display:none;
    color: #16019A;
    font-size: 36px;
}

.noheart{
    color:#16019A;
    font-family:all-round-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}



.text {
    /*height: 80%;*/
}
.contactsBrM{
    display: none;
    height:0;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {

    
    #pic{
        display:none;
    }
    .mainP{
        font-family: brevia, sans-serif;
        font-weight: 600;
        font-style: normal;
        width: auto;
        font-size: 30px;
        padding-top: 15vh;
        padding-left: 15%;
        padding-right: 15%;
        transition: 250ms margin-top ease-in-out;
    }
    .txt{
        margin-top: 3vh;
        margin-bottom: 0vh;
        width:100%;
        font-size: 17px;
        font-weight: 500;
        text-align: center;

    }

    .infoLine{
        display: none;
    }

    .titleM{
        display:block;
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
        
    }
    
    .socials{
        text-align: center;
        padding-left: 0%;
    }

    .topPart{
        padding-bottom: 0vh;
        /*height: 40vh;*/
    }

    .contacts{
        font-size: 17px;
        margin-left: 0%;
        text-align: center;
    }

    .noheart{
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .rutsch {
        margin-top: 13vh;
    }
    .contactsBrM{
        display: block;
    }


}


@media only screen and (min-width: 500px) and (max-width: 800px) {
    #pic{
        display:none;
    }

    
    .mainP{
        font-family: brevia, sans-serif;
        font-weight: 600;
        font-style: normal;
        width: auto;
        font-size: 30px;
        padding-top: 15vh;
        padding-left: 15%;
        padding-right: 15%;
        transition: 250ms margin-top ease-in-out;
    }
    .txt{
        margin-top: 4vh;
        margin-bottom: 2vh;
        width:100%;
        font-size: 20px;
        font-weight: 500;
        text-align: center;

    }
    .infoLine{
        display: none;
    }
    .titleM{
        display:block;
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    
    .socials{
        text-align: center;
        padding-left: 0%;
    }

    .topPart{
        /*height: 40vh;*/
        padding-bottom: 1vh;
    }

    .contacts{
        font-size: 20px;
        margin-left: 0%;
        text-align: center;
    }

    .noheart{
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .rutsch {
        margin-top: 13vh;
    }
    .contactsBrM{
        display: block;
    }

    .topPart {
        /*height: 40vh;*/
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 800px) and (max-width: 992px) {
    .mainP{
        font-family: brevia, sans-serif;
        font-weight: 600;
        font-style: normal;
        width: 190vh;
        font-size: 30px;
        padding-top: 15vh;
    }

    .txt{
        padding-left: 10%;
        margin-top: 17vh;
        margin-bottom: 5vh;
        width:100%;
        font-size: 24px;
        font-weight: 500;

    }

    .noheart{
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .topPart {
        /*height: 50vh;*/
    }
    
    .logoMain > object{
        height:200px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .mainP{
        font-family: brevia, sans-serif;
        font-weight: 600;
        font-style: normal;
        width: max-content;
        padding-top: 15vh;
        font-size: 30px;
    }

    .txt{
        padding-left: 10%;
        margin-top: 17vh;
        margin-bottom: 5vh;
        width:100%;
        font-size: 26px;
        font-weight: 500;
    }

    .noheart{
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mainP{
        font-family: brevia, sans-serif;
        font-weight: 600;
        font-style: normal;
        width: max-content;
        padding-top: 13vh;
        font-size: 30px;
    }

    .txt{
        padding-left: 10%;
        margin-top: 17vh;
        margin-bottom: 5vh;
        width:100%;
        font-size: 25px;
        font-weight: 500;

    }

    .noheart{
        color:#16019A;
        font-family:all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
    }

}
