body{
    /*overflow: hidden;*/
    /*background-color: #ccc;*/
}

h1{
    font-weight: 500;
    font-size: 35px;
    /*font-family:all-round-gothic, sans-serif;
*/
}
.content {
    padding-top: 31vh;
    width:90%;
    max-width:90%;
}

.mainP {
    transition: 250ms margin-top ease-in-out;
}

button{
    font-family: brevia,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    text-decoration:none;
    color:rgb(33, 37, 41);
    border: none;
    background-color: #f7f7f7;
}

button:hover{
    text-decoration: none;
    color:#16019A;
}

/* Pictures */
.shirtPic{
    /*width:400px;*/
    width: 20vw;
    height: 25vw;
}

.pics{
    margin-top: 16vh;
}

.hoodiePic{
    width: 20vw;
    height: 30vw;
}

button > object {
    margin-bottom: -2vw;
}


/* Farbe von der Section wo man sich gerade befindet */
.rn{
    text-decoration:underline solid #16019A;
}

.rn:hover{
    text-decoration:underline solid #16019A;
}

.headerRowM {
    /*width: 100vw;*/
}


/* ANIMATIONEN */

.product1, .product2, .product3{
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.product1:hover, .product2:hover, .product3:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.product1 {
    animation: fadein 0.75s ease-out 0s 1 normal backwards;
    -moz-animation:  fadein 0.75s ease-out 0s 1 normal backwards; /* Firefox */
    -webkit-animation:  fadein 0.75s ease-out 0s 1 normal backwards; /* Safari and Chrome */
    -o-animation:  fadein 0.75s ease-out 0s 1 normal backwards; /* Opera */
}

.product2 {
    animation: fadein 0.75s ease-out 0.5s 1 normal backwards;
    -moz-animation: fadein 0.75s ease-out 0.5s 1 normal backwards; /* Firefox */
    -webkit-animation: fadein 0.75s ease-out 0.5s 1 normal backwards; /* Safari and Chrome */
    -o-animation: fadein 0.75s ease-out 0.5s 1 normal backwards; /* Opera */
}

.product3 {
    animation: fadein 0.75s ease-out 1s 1 normal backwards;
    -moz-animation: fadein 0.75s ease-out 1s 1 normal backwards; /* Firefox */
    -webkit-animation: fadein 0.75s ease-out 1s 1 normal backwards; /* Safari and Chrome */
    -o-animation: fadein 0.75s ease-out 1s 1 normal backwards; /* Opera */
}


object {
    pointer-events: none;
    /*height:400px;*/
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(2.5em);

    }
    to {
        opacity:1;
        transform: translateY(0em);
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        transform: translateY(2.5em);

    }
    to {
        opacity:1;
        transform: translateY(0em);
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        transform: translateY(2.5em);

    }
    to {
        opacity:1;
        transform: translateY(0em);
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        transform: translateY(2.5em);

    }
    to {
        opacity:1;
        transform: translateY(0em);
    }
}
/* ---- ANIMATIONEN ENDE ---- */
@media only screen and (min-width: 0px) and (max-width: 769px) {
    .rutsch {
        margin-top: 10vh;
      }

    .shirtPic {
        width: 50vw;
        height: 60vw;
    }

    .hoodiePic {
        width: 50vw;
        width: 60vw;
    }

    .content {
        padding: 31vw 0 16vw 0;
    }

    button > h1 { 
        font-size: 20px;
    }

    .row {
        /*margin-left: 0;
        margin-right: 0;*/
    }

    button {
      padding: 0;
    }
}

@media only screen and (min-width:769px) and (max-width: 992px) {
    /*.shirtPic {
        width: 50vw;
        height: 60vw;
    }

    .hoodiePic {
        width: 50vw;
        width: 60vw;
    }

    .content {
        padding: 31vw 0 16vw 0;
    }

    button > h1 {
        font-size: 20px;
    }

    .row {
        margin-left: 0;
    }*/

    .shirtPic {
        width: 25vw;
        height: 35vw;
    }

    .hoodiePic {
        width: 25vw;
        width: 35vw;
    }

    button {
      padding: 0;
    }

    button > h1 {
      font-size: 23px;
    }

}

@media only screen and (min-width:992px) and (max-width: 1200px) {
    .shirtPic {
        width: 25vw;
        height: 35vw;
    }

    .hoodiePic {
        width: 25vw;
        width: 35vw;
    }

    button {
      padding: 0;
    }

    button > h1 {
      font-size: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    button > h1 {
        font-size: 28px;
    }
}
