body{
    padding-top: 1px;
    margin-top: -1px;
    font-family: brevia,sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-decoration:none;
    color:rgb(33, 37, 41);
    border: none;
}

h1, h3{
  color: #16019A;
  font-weight: bold;
  font-style: italic;
}
.mainP{
    width: 100%;
    /*height: 130vh;*/
    margin-top: 22vh;
    /*padding-top: 10vh;
    background-image:url('pictures/BG.png') ;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;*/
}

.detP{
  margin-top: 5vh;
}

.heart{
    width:25px;
}
.container{
    max-width: 100%;
}
.topBoxnarrows{
    display: flex;
    flex-direction: row;
    height: 45%;
}
.productImage{
    /*width: 100%;*/
}
.product{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.productBox{
    border: 1px black solid;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.prodBoxRow{
    height: 100%;
}

.productDesc{
    margin-bottom: 0vh;
}
.arrow{
    display: flex;
    font-size: 50px;
    align-items: center;
    padding:20px;
}
.arrowP{
    cursor: pointer;
}
.line{
    font-size: 0px;
    width: 2px;
    height: 100%;
    background-color: #70707055;
}
.points{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 37%;
    margin-right:37%;
    margin-top: 2vh;
}
.leftBlock{
    display: flex;
    flex-direction: column;
    /*height: 80vh;*/
    justify-content: center;
}
.lineDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteRad{
    background-color: white;
    background: white;
    border: white;
}
.blackRad{
    background-color: black;
    background: black;
}
.cremeRad{
    background-color: #F6EFD2;
    background: #F6EFD2;
}

.content{
    margin-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
}
.frontPicBut, .backPicBut, .closePicBut{
    width: 200px;
}
.row > .white > .pics{
    background-color: #e6e6e6 ;
}

.pics{
    border: black solid 1px;
    border-radius: 8px;
    padding: 5% 10% 5% 10%;
}
.hoodCloseUpBut{
    /*padding: 18% 10% 18% 10%;*/
}

.hoodPics{
    /*height: 50%;*/
}

.backPic, .closePic{
    display:none;
}
.closePic{
    margin-bottom: 1px;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 5px;
    padding-top: 0px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 80%;
}

.control_indicator_white {
    background-color: white;
    border: 2px solid #000000;

}

.control_indicator_black {
    background-color: black;
    /* BORDER FEHLT */
}

.control_indicator_creme {
    background-color: #f6efd2;
    border: 2px solid #000000;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator {
    border-radius: 80%;
}

.control-radio .control_indicator:after {
    left: 0px;
    top: 0px;
    height: 0px;
    width: 0px;
    border-radius: 80%;
    background: #ad0000;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #000000;
}
.mobileFunkt{
    display:none;
    padding: 0;
}
/*--------------------------mobile--------------------------*/
@media only screen and (max-width: 800px) {
    body{
        padding-top: 1px;
        margin-top: -1px;
        font-family: brevia,sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-decoration:none;
        color:rgb(33, 37, 41);
        border: none;
    }
    .mobileFunkt{
        display: block;
    }
    h1, h3{
      color: #16019A;
      font-weight: bold;
      font-style: italic;
    }
    .mainP{
        width: 100%;
        /*height: 130vh;*/
        margin-top: 12vh;
        /*padding-top: 46.5px;*/
        /*padding-top: 10vh;
        background-image:url('pictures/BG.png') ;
        background-repeat: repeat;
        background-size: 100%;
        background-attachment: fixed;*/
    }
    
    .detP{
      margin-top: 5vh;
    }
    
    .heart{
        width:25px;
    }
    .container{
        max-width: 100%;
    }
    .topBoxnarrows{
        flex-direction: row;
        height: 45%;
        position: fixed;
        top: 20vh;
    }
    .productImageM{
        width: 60vw;
    }
    .product{
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    .productBox{
        border: 1px black solid;
        padding: 5%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-top: 30vh;
    }
    
    .prodBoxRow{
        height: 100%;
    }
    
    .productDesc{
        margin-bottom: 0vh;
        background-color: rgba(255, 255, 255, 0.616);
        border: black 2px solid;
    }
    .arrow{
        display: flex;
        font-size: 50px;
        align-items: center;
        padding:8px;
        height: 50vh;
    }
    .arrowP{
        cursor: pointer;
        margin-bottom: 30vh;
    }
    .line{
        font-size: 0px;
        width: 2px;
        height: 100%;
        background-color: #70707055;
    }
    .points{
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 37%;
        margin-right:37%;
        margin-top: 2vh;
    }
    .leftBlock{
        display: flex;
        flex-direction: column;
        /*height: 80vh;*/
        justify-content: center;
    }
    .lineDiv{
        display: none;
    }
    .whiteRad{
        background-color: white;
        background: white;
        border: white;
    }
    .blackRad{
        background-color: black;
        background: black;
    }
    .cremeRad{
        background-color: #F6EFD2;
        background: #F6EFD2;
    }
    
    .content{
        margin-top: 5vh;
        padding-left: 10%;
        padding-right: 10%;
    }
    .frontPicBut, .backPicBut, .closePicBut{
        width: 200px;
    }
    .row > .white > .pics{
        background-color: #e6e6e6 ;
    }
    
    .pics{
        border: black solid 1px;
        border-radius: 8px;
        padding: 5% 10% 5% 10%;
    }
    .hoodCloseUpBut{
        /*padding: 18% 10% 18% 10%;*/
    }
    
    .hoodPics{
        /*height: 50%;*/
    }
    
    .closePic{
        margin-bottom: 1px;
    }
    
    .control {
        font-family: arial;
        display: block;
        position: relative;
        padding-left: 29px;
        margin-bottom: 5px;
        padding-top: 0px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 80%;
    }
    
    .control_indicator_white {
        background-color: white;
        border: 2px solid #000000;
    
    }
    
    .control_indicator_black {
        background-color: black;
        /* BORDER FEHLT */
    }
    
    .control_indicator_creme {
        background-color: #f6efd2;
        border: 2px solid #000000;
    }
    
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-radio .control_indicator {
        border-radius: 80%;
    }
    
    .control-radio .control_indicator:after {
        left: 0px;
        top: 0px;
        height: 0px;
        width: 0px;
        border-radius: 80%;
        background: #ad0000;
        transition: background 250ms;
    }
    .control-radio input:disabled ~ .control_indicator:after {
        background: #000000;
    }
    .desktopFunkt{
        display:none;
        padding: 0;
    }
    .picturesM > img{
        margin: 20px 0;
    }
    .imageBoxM{
        text-align: center;
        margin-bottom: 52vh;
    }
    .productDesc > h1{
        font-size: 20px;
    }
    .productDesc > h3{
        font-size: 18px;
    }
    .productDesc > p{
        font-size: 16px;
    }
}
  
@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 992px) {
}


@media only screen and (min-width: 1200px){

}