body{
    padding-top: 1px;
    margin-top: -1px;
    /*background-color: grey;*/
    /* overflow: hidden; */
    /*-ms-overflow-style: none;  /* IE and Edge */
    /*scrollbar-width: none;  /* Firefox */
    /*background-color: #f7f7f7;*/
    background-color: #f7f7f7;
}


 /* Hide scrollbar for Chrome, Safari and Opera */
 /*::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  /*html {
    -ms-overflow-style: none;  /* IE and Edge */
    /*scrollbar-width: none;  /* Firefox */
  /*}*/

nav{
    height: 10%;
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 33px;
    color:rgb(33, 37, 41);
}
.curSec{
    color: #ffa53f;
}
.curSecU{
    text-decoration: underline;
    text-decoration-color: #ffa53f;
    text-decoration-thickness: 4px;
}
a:hover{
    text-decoration: none;
    color:#ffa53f ;
}
.curSec:hover{
    text-decoration: none;
    color:#ffa53f ;
}
.curSecU:hover{
    text-decoration: underline;
    text-decoration-color: #ffa53f;
    text-decoration-thickness: 4px;
    color:#ffa53f ;
}

.logo{
    padding-left: 1%;
    height: 8vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linePicture > svg{
    height:300%;
}

.linePicture{
    padding-left: 1%;
    height: 8vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerDesktop{
    width: 100%;
    position: fixed;
    max-width: 100%;
    height: 20%;
    z-index:1;
}

.black-stripe{
    background-color:#16019A;
    height:5px;
    margin-top: 12.2vh;
}

.logoLine{
    position: fixed;
    width: 100%;
}

.headerBackground{
    position: fixed;
    background-color: #f7f7f7;
    height: 12.4vh;
    width: 100%;
}

.navBarLine2{
    width: 100%;
    position: fixed;
    /*padding-bottom: 1%;*/
    height:12.4vh;
    z-index: 1;
}
header.container{
    max-width: 100%;
}
/* ------------------------------ */
.headerMobile{
    display: none;
    position: fixed;
    background-color: #f7f7f7;
    z-index: 1 ;
}

.logoM{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.burgerM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.logoMImg{
    height: 200%;
    padding-top: 15px;
    padding-left: 15px;
}

.burgerMenuM {
    width: 55%;
    height: 2px;
    background-color: #B5B5B5;
    margin: 6px 0;
}

.headerRowM{
    padding-bottom: 15px;
    border-bottom:#16019A 3px solid ;
    background-color: #f7f7f7;
}

.headerRowM {
    height: 12vh;
}

.headerRowM > * {
    padding-top: 0;
    height: 12vh;
}

.menue {
    display: none;
    z-index: 1 ;
  }

@media only screen and (min-width: 0px) and (max-width: 800px) {
    .headerDesktop {
        display: none;
    }
    .headerMobile{
        display: block;
        padding:0;
    }

    .logoM{
        margin-left: 0vh;
      }
    
    .logoMImg{
        margin-left: 100px;
      }

      
    
    /*-------------------------------------------------------*/
    /*Hamburger Menu*/

    .menue {
        margin-top: 12vh;
        height: 0;
        overflow: hidden;
        position: fixed;
        transition: 250ms height ease-in-out;
        width: 100%;

        background: #eee;
        display: flex;
        justify-content: center;
    
        text-decoration: none;
    }
    .nav-toggle {
        position: absolute;
    }
    .open {
        height: 150px;
    }
    
    .navIcon {
        display: block;
    }
    
    .hidden {
        display: none;
    }
    
    ul {
        padding: 0;
        text-align: left;
    }
    
    li a{
        text-decoration: none;
    }
    
    li {
        list-style-type: none;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0;
    }

    .spaceLi{
        margin-left: 5px;
        display: inline;
    
        font-family: all-round-gothic, sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
    }
    .linkTo {
        color:#16019A;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 800px) and (max-width: 992px){
    a{
        font-family: all-round-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        text-decoration:none;
        color:#16019A;
    }
    .border{
        width: 2px;
        height:24px;
        margin-top:1%;
        background-color: rgba(0, 0, 0, 0.267);
        font-size: 0%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 15%;
        margin-top: 5vh;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1200px) {
    a{
        font-family: all-round-gothic, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        text-decoration:none;
        color:#16019A;
    }
    
    .border{
        width: 2px;
        height:25px;
        margin-top:2%;
        background-color: rgba(0, 0, 0, 0.267);
        font-size: 0%;
    }

    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 15%;
        margin-top: 5vh;
    }

    .linePicture{
        padding-left:2%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    a{
        font-family: all-round-gothic, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        text-decoration:none;
        color:#16019A;
    }
    .border{
        width: 2px;
        height:35px;
        margin-top:1%;
        background-color: rgba(0, 0, 0, 0.267);
        font-size: 0%;
    }
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 15%;
        margin-top: 4.3vh;
    }
}
